---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Servicios from "../sections/servicios.astro";
import Footer from "../sections/footer.astro";
import WspBtn from "../components/wspBtn.astro";
---

<Layout title="Servicios">
    <Navbar/>
    <div class="animate-blurred-fade-in">
        <Servicios/>
    </div>
    <Footer/>
    <WspBtn/>
</Layout>