---

---

<div class="banner-carousel bg-gray-200 py-44 flex justify-center items-center flex-col relative">
  <img src="/images/carousel/foto2.jpg" alt="Imagen de Fondo" class="absolute inset-0 w-full h-full object-cover">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="z-10 flex flex-col items-center">
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center shadow-lg" style="color: white; text-shadow: 2px 2px 8px rgba(0,0,0,0.6);">Video Consulta Internacional Gratis</h1>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdWA8VPKt7apbdszeXZj3UjpW3S9OIkEixFzlHpYtWjoS7O9g/viewform" target="_blank">
      <button class="custom-button px-8 py-3 rounded text-white shadow-lg">Agenda tu cita</button>
    </a>
  </div>
</div>

<style>
.custom-button {
background-color: #ccb44a;
font-size: 1rem;
transition: transform 0.3s ease;
}

.custom-button:hover {
transform: scale(1.1);
}

.banner-carousel img {
opacity: 0.85;
}
</style>

