---

---

<a href="https://api.whatsapp.com/send?phone=573003568920" target="_blank" class="whatsapp-btn fixed bottom-5 right-5 w-16 h-16 rounded-full shadow-lg flex items-center justify-center cursor-pointer hover:bg-white hover:text-ccb44a transition-colors duration-300">
    <i class="bi bi-whatsapp" style="font-size: 24px;"></i>
</a>

<style>
    .whatsapp-btn {
        background-color: #ccb44a;
        color: white;
        transition: background-color 0.3s, color 0.3s;
    }

    .whatsapp-btn:hover {
        background-color: white;
        color: #ccb44a;
    }
</style>