---

---

<section class="p-20 text-center">
    <h2 class="text-4xl font-bold mb-12">Contactos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center mb-8">
        <div class="text-center">
            <i class="bi bi-geo-alt-fill contact-icon"></i>
            <p class="mt-2">Carrera 50 #100-23, Casa 5</p>
        </div>
        <div class="text-center">
            <i class="bi bi-telephone-fill contact-icon"></i>
            <p class="mt-2">+57 300 3568920</p>
        </div>
        <div class="text-center">
            <i class="bi bi-clock-fill contact-icon"></i>
            <p class="mt-2">Lunes a Sabado - 8am a 6pm</p>
        </div>
    </div>

    <div class="flex justify-center gap-8 mt-14">
        <div class="text-center mr-32">
            <a href="https://www.instagram.com/dra.lilibethreales/" target="_blank">
                <i class="bi bi-instagram contact-icon"></i>
            </a>
            <p class="mt-2">@dra.lilibethreales</p>
        </div>
        <div class="text-center">
            <a href="https://www.facebook.com/dra.lilibethrls/?locale=es_LA" target="_blank">
                <i class="bi bi-facebook contact-icon"></i>
            </a>
            <p class="mt-2">Dra. Lilibeth Reales</p>
        </div>
    </div>
</section>

<style>
    .contact-icon {
        font-size: 2rem; /* Tamaño del ícono */
    }
</style>




