---

---

<section class="p-5 md:p-20 text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-6 md:mb-12">Contactos</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-8 justify-items-center mb-4 md:mb-8">
        <div class="text-center">
            <i class="bi bi-geo-alt-fill contact-icon"></i>
            <p class="mt-2">Carrera 50 #100-23, Casa 5</p>
        </div>
        <div class="text-center">
            <i class="bi bi-telephone-fill contact-icon"></i>
            <p class="mt-2">+57 300 3568920</p>
        </div>
        <div class="text-center">
            <a href="https://api.whatsapp.com/send?phone=573003568920" target="_blank">
                <i class="bi bi-whatsapp contact-icon"></i>
            </a>
<<<<<<< HEAD
            <p class="mt-2">+57 300 3568920</p>
=======
            <p class="mt-2">+57 300 1234567</p> <!-- Añade tu número de WhatsApp aquí -->
>>>>>>> 3c5c541dc6312cc1980c2b6ea7d2034f5591bd79
        </div>
        <div class="text-center">
            <i class="bi bi-clock-fill contact-icon"></i>
            <p class="mt-2">Lunes a Sábado - 8am a 6pm</p>
        </div>
        <div class="text-center">
            <a href="https://www.instagram.com/dra.lilibethreales/" target="_blank">
                <i class="bi bi-instagram contact-icon"></i>
            </a>
            <p class="mt-2">@dra.lilibethreales</p>
        </div>
        <div class="text-center">
            <a href="https://www.facebook.com/dra.lilibethrls/?locale=es_LA" target="_blank">
                <i class="bi bi-facebook contact-icon"></i>
            </a>
            <p class="mt-2">Dra. Lilibeth Reales</p>
        </div>
    </div>
</section>

<<<<<<< HEAD
=======


>>>>>>> 3c5c541dc6312cc1980c2b6ea7d2034f5591bd79
<style>
    .contact-icon {
    font-size: 1.5rem; /* Tamaño más pequeño para pantallas pequeñas */
}

@media (min-width: 768px) { /* Ajustes para pantallas medianas y grandes */
    .contact-icon {
        font-size: 2rem;
    }
}
</style>




