---

---

<section class="bg-white p-12">
    <h2 class="text-5xl font-bold text-center mb-8">Experiencias</h2>
    <div class="flex justify-center">
        <iframe class="rounded-2xl shadow-xl" width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 0;"></iframe>
    </div>
    <div class="mt-8 text-center">
        <p class="text-xl mb-4">Descubre las historias que nos hacen únicos.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdWA8VPKt7apbdszeXZj3UjpW3S9OIkEixFzlHpYtWjoS7O9g/viewform" target="_blank">
            <button class="custom-button px-8 py-3 rounded text-white">Agenda tu cita</button>
        </a>
    </div>
</section>

<style>
    iframe {
        max-width: 80vw;
    }

    @media (max-width: 640px) {
        iframe {
            width: 100%;
            height: auto;
        }
    }

    .custom-button {
        background-color: #ccb44a;
        font-size: 1rem;
        transition: transform 0.3s ease;
    }

    .custom-button:hover {
        transform: scale(1.1);
    }
</style>
