---

---

<footer class="bg-gray-200 py-6">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div>
        <h2 class="text-lg font-bold mb-2">Contacto</h2>
        <p>Dirección: Carrera 50 #100-23 Casa 5, Barranquilla, Colombia</p>
        <p>Teléfono: +57 300 3568920</p>
        <p>Email: lilbethrealesher@gmail.com</p>
      </div>
    </div>
    <hr class="mt-5">
    <div class="text-center mt-4">
      <p>© 2024 Derechos Reservados: Lilibeth Reales</p>
    </div>
  </div>
</footer>


<style>
  footer {
    background-color: #f8f9fa;
  }

  hr {
  border-top-color: #ccb44a;
 }

</style>


