---

---

<div class="container mx-auto flex flex-col items-center justify-center p-10 mt-10"> <!-- Padding y margin-top reducidos -->
    <div class="flex flex-col xl:flex-row items-center xl:items-start space-y-5 xl:space-y-0"> <!-- Espacio vertical entre elementos ajustado -->
        <div class="xl:w-[76rem] xl:h-[28rem] w-[40rem] h-[36rem] bg-gray-200 rounded-3xl overflow-hidden shadow-2xl zoom-effect">
            <img src="images/about/lilibeth_1.jpg" alt="Imagen de la Dra. Lilibeth Reales" class="object-cover w-full h-full">
        </div>

        <div class="mt-4 xl:mt-0 xl:ml-8 text-center xl:text-left"> <!-- Margin-top y margin-left reducidos -->
            <h1 class="text-4xl font-bold mb-2">Dra. Lilibeth Reales</h1>
            <h2 class="text-2xl italic text-gray-600 mb-4">Universidad San Martin</h2>
            <p class="text-xl mb-4">Confía en la Dra. Lilibeth Reales para una experiencia odontológica superior. Su trayectoria internacional y atención detallada prometen una sonrisa perfecta. Con ella, tu salud dental está en las mejores manos, garantizando cuidado y resultados sobresalientes a nivel global.</p>
        </div>
    </div>
</div>


<style>
.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
    transform: scale(1.05);
}
</style>
