---

---

<div class="container mx-auto flex flex-col items-center justify-center p-10 mt-10"> <!-- Padding y margin-top reducidos -->
    <div class="flex flex-col xl:flex-row items-center xl:items-start space-y-5 xl:space-y-0"> <!-- Espacio vertical entre elementos ajustado -->
        <div class="xl:w-[60rem] xl:h-[22rem] lg:w-[50rem] lg:h-[20rem] md:w-[40rem] md:h-[18rem] sm:w-[30rem] sm:h-[14rem] bg-gray-200 rounded-3xl overflow-hidden shadow-2xl zoom-effect">
            <img src="images/about/lilibeth_1.jpg" alt="Imagen de la Dra. Lilibeth Reales" class="object-cover w-full h-full">
        </div>

        <div class="mt-4 xl:mt-0 xl:ml-8 text-center xl:text-left">
            <h1 class="text-4xl font-bold mb-2">Dra. Lilibeth Reales</h1>
            <h2 class="text-2xl italic text-gray-600 mb-4">Odontologa Integral</h2>
            <p class="text-xl mb-4"> Confía en la Dra. Lilibeth Reales para una experiencia odontológica superior. Odontologa integral de la Universidad San Martín y especialista en odontología estética y diseño de sonrisas de la Universidad Ces, su trayectoria internacional y atención meticulosa garantizan una sonrisa perfecta. Con ella, tu salud dental está en las mejores manos, asegurando cuidado y resultados sobresalientes a nivel global.</p>
        </div>
    </div>
</div>


<style>
.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
    transform: scale(1.05);
}
</style>
