---

---

<section class="bg-[#ccb44a] p-8">
    <h2 class="text-4xl font-bold mb-10 text-center text-white">Servicios</h2>
    <div class="grid md:grid-cols-3 gap-6 sm:grid-cols-2 gap-y-8 sm:gap-y-6 sm:gap-x-6">
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/diseños_de_sonrisa.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Diseños de Sonrisa</h3>
            <p class="px-4 pb-4 text-sm">Transforma tu sonrisa con nuestros Diseños de Sonrisa personalizados. En nuestra clínica, te ofrecemos tratamientos únicos para mejorar la estética dental, reflejando tu personalidad y belleza natural. ¡Deja que tu sonrisa hable por ti!</p>
        </div>
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/coronas.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Coronas Dentales</h3>
            <p class="px-4 pb-4 text-sm">Explora nuestras Coronas Dentales en Zirconio Cerámicas, Metal-Cerámicas y sobre Implantes, todas creadas para ofrecer durabilidad, belleza y confort Personalizamos cada corona para realzar tu sonrisa con resultados naturales y de larga duración.</p>
        </div>
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/odontologia_integral.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Odontologia Integral</h3>
            <p class="px-4 pb-4 text-sm">En nuestra clínica, encontrarás servicios completos de Odontología Integral, incluyendo implantes, endodoncia, ortodoncia, higiene dental y blanqueamiento, todos realizados con tecnología savanzada y máxima atención para mejorar tu sonrisa.</p>
        </div>
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/protesis_dentales.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Protesis Dentales</h3>
            <p class="px-4 pb-4 text-sm">Transforma tu sonrisa con nuestros Diseños de Sonrisa personalizados. En nuestra clínica, te ofrecemos tratamientos únicos para mejorar la estética dental, reflejando tu personalidad y belleza natural. ¡Deja que tu sonrisa hable por ti!</p>
        </div>
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/laser.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Laser</h3>
            <p class="px-4 pb-4 text-sm">Explora nuestros tratamientos con Láser para realzar tu belleza, incluyendo Perfilamiento de Rostro y Mandibular, y Rejuvenecimiento Facial. Utilizamos tecnología láser de última generación para resultados seguros, eficientes y sorprendentes.</p>
        </div>
        <div class="card hover:-translate-y-2 transition-transform flex flex-col items-center text-center bg-white shadow-lg rounded-md overflow-hidden">
            <img src="images/servicios/full_face.jpg" alt="Diseños de Sonrisa" class="w-full h-64 object-cover">
            <h3 class="font-semibold mt-2 mb-1">Full Face</h3>
            <p class="px-4 pb-4 text-sm">Explora nuestros tratamientos Full Face para rejuvenecimiento facial, con Hilos Tensores, Colágeno y Ácido Hialurónico, diseñados para realzar tu belleza natural y promover una apariencia rejuvenecida.</p>
        </div>
    </div>
</section>

<style>
    .card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 4px 15px 0 rgba(0,0,0,0.3);
    }
</style>